/* * {
	border: 1px solid white;
}
*/
body {
	background-color: black;
	color: white;

}
.titulo h1 {
	margin-top: 10%;
	color: #273b5c;
	padding: 120px 0 0 0;
}
.titulo {
	background-color: white;
	height:200px;
}
.gallery {
	overflow:auto;
	white-space: nowrap;
	padding:10px;
	scrollbar-color: #007 #bada55;

}

div.gallery img {
	padding:10px;
}

.table {
	font-family: 'Oswald', sans-serif;
}

.table th, td {
	border: 2px solid white;

	text-align: center;
	border-radius: 5px;
	padding: 10px;

}
td {
	padding-right:15px;
}